doctype html
html
    head
        title Admin - Wedding Store
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,700", rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(href='/assets/css/theme.css', rel='stylesheet')
        link(href='/assets/css/toolbar.css', rel='stylesheet')
        link(href='/assets/css/list.css', rel='stylesheet')
        link(href='/assets/css/align.css', rel='stylesheet')
        link(href='/assets/css/titles.css', rel='stylesheet')
        link(href='/assets/css/forms.css', rel='stylesheet')
        link(href='/assets/css/buttons.css', rel='stylesheet')
        link(href='/assets/css/sign.css', rel='stylesheet')

        link(href="/manifest.json", rel="manifest")

        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        meta(name="apple-mobile-web-app-title", content="Wedding Store")
        link(rel="apple-touch-icon" href="/assets/images/icon-144.png")

        meta(name="msapplication-TileImage" content="/assets/images/icon-144.png")
        meta(name="msapplication-TileColor" content="#303F9F")
    body
        header.toolbar
            h1.toolbar--title Wedding Store - Admin
        main.main(ng-controller="adminController")
            form.form(ng-submit="insert()")
                h3.title.t3 Add product
                div.field
                    input#name.input(type="text", name="name", required="", ng-model="newItem.name")
                    label.label(for="name") Name
                div.field
                    input#value.input(type="text", name="value", required="", ng-model="newItem.value")
                    label.label(for="value") Value
                div.submit-field.text-right 
                    button.btn.btn-raised.btn-indigo(type="submit") Add
            ul.list
                ul.list(ng-if="storeList.length > 0")
                    li.list-item(ng-repeat="item in storeList")
                        span.list-item--identifier
                            i.material-icons dashboard
                        span.list-item--first-content
                            span.list-item--title {{item.name}}
                            span.list-item--subtitle {{item.value}}
                        span.list-item--second-content(ng-click="remove(item._id, $index)")
                            i.material-icons delete
            
            button#subscriptionButton.btn.btn-raised.btn-indigo(ng-disabled="subscribeActived", ng-click="subscribeButtonClickEvent()") Tell me when a product was bought

        script(src='/vendor/angular/angular.min.js')
        script(src='/app/admin.js')