doctype html
html
    head
        title Sing Up - Wedding Store
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,700", rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(href='/assets/css/theme.css', rel='stylesheet')
        link(href='/assets/css/align.css', rel='stylesheet')
        link(href='/assets/css/titles.css', rel='stylesheet')
        link(href='/assets/css/forms.css', rel='stylesheet')
        link(href='/assets/css/buttons.css', rel='stylesheet')
    body
        main.main
            form.sign.form(method="post", action="/sign/up")
                h1.title.t1 Sign Up
                div.field
                    input#name.input(type="text", name="name", required="")
                    label.label(for="name") Name
                div.field
                    input#email.input(type="text", name="email", required="")
                    label.label(for="email") E-mail
                div.field
                    input#password.input(type="password", name="password", required="")
                    label.label(for="password") Password
                div.submit-field.text-right
                    a.btn.btn-default(href="/sign/in") Sign In
                    button.btn.btn-raised.btn-indigo(type="submit") Sign Up