doctype html
html
    head
        title Wedding Store 
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,700", rel="stylesheet")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(href='/assets/css/theme.css', rel='stylesheet')
        link(href='/assets/css/toolbar.css', rel='stylesheet')
        link(href='/assets/css/list.css', rel='stylesheet')
    body
        header.toolbar
            h1.toolbar--title Wedding Store

        main.main(ng-controller="mainController")
            ul.list(ng-if="storeList.length > 0")
                li.list-item(ng-repeat="item in storeList", ng-class="{'is-selected': item.isSelected}")
                    span.list-item--identifier
                        i.material-icons dashboard
                    span.list-item--first-content
                        span.list-item--title {{item.name}}
                        span.list-item--subtitle {{item.value}}
                    span.list-item--second-content(ng-click="select(item._id)")
                        i.material-icons add_circle
        script.
            window.userId = '#{userId}';
        script(src='/vendor/angular/angular.min.js')
        script(src='/app/store.js')