.title {
  margin: 0;
  padding: 0;
  font-weight: 500;
}
.title.t2 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 20px;
}
.title.t3 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

.subtitle {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  line-height: 1.43;
  margin-top: 14px;
}