.toolbar {
    align-items: center;
    background-color: rgb(63,81,181);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    color: #FFF;
    display: flex;
    height: 64px;
    padding: 0 16px;
    position: fixed;
    top: 0;
    width: 100%;
}

.toolbar--title {
    font-size: 20px;
    font-weight: 400;
}